<%= form_for @store, html: {multipart: true} do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nom du magasin" %><br>
    <%= f.file_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :logo, "Nom du magasin" %><br>
    <%= f.text_field :logo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address, "Adresse" %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :postcode, "Code Postal" %><br>
    <%= f.text_field :postcode, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :town, "Ville" %><br>
    <%= f.text_field :town, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phonenumber, "Téléphone" %><br>
    <%= f.text_field :phonenumber, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name_shopper, "Nom du gérant" %><br>
    <%= f.text_field :name_shopper, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :activity, "Activité" %><br>
    <%= f.text_field :activity, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary btn-lg", value: "Inscrire le magasin" %>
  </div>
<% end %>
