<h1>Liste des magasins inscrits (<%= @stores.length %>)</h1>

<%= link_to 'Ajouter un magasin', new_store_path, class: "btn btn-primary" %>

<table class="list-stores table table-bordered">
  <thead>
    <tr>
      <th>Nom du magasin</th>
      <th width="10%">Ville</th>
      <th width="10%">Téléphone</th>
      <th>Email</th>
      <th>Nom du gérant</th>
      <th>Activité(s)</th>
      <th width="17%">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.town %></td>
        <td><%= store.phonenumber %></td>
        <td><%= store.email %></td>
        <td><%= store.name_shopper %></td>
        <td><%= store.activity %></td>
        <td>
          <%= link_to 'Voir', store %> -
          <%= link_to 'Modifier', edit_store_path(store) %> -
          <%= link_to 'Supprimer', store, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
