
<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>
     <%= @store.name %>
    </h2>
  </div>

  <div class="panel-body">
    <p>
      <%= image_tag @store.logo.url(:medium) %>
    </p>

    <p>
      <strong>Adresse :</strong>
      <%= @store.address %>
    </p>

    <p>
      <strong>Code Postal :</strong>
      <%= @store.postcode %>
    </p>

    <p>
      <strong>Ville :</strong>
      <%= @store.town %>
    </p>

    <p>
      <strong>Téléphone :</strong>
      <%= @store.phonenumber %>
    </p>

    <p>
      <strong>Email :</strong>
      <%= @store.email %>
    </p>

    <p>
      <strong>Nom du gérant :</strong>
      <%= @store.name_shopper %>
    </p>

    <p>
      <strong>Activité :</strong>
      <%= @store.activity %>
    </p>
  </div>
  
  <div class="panel-footer">
    <%= link_to 'Modifier', edit_store_path(@store) %> |
    <%= link_to 'Retour', stores_path %>
  </div>

</div>
