<div id="home">
	<div id="map" class="map"></div>

	<aside class="retails">

		<% if !@stores.empty? %>

		<% @stores.each do |store| %>

		<section data-title="<%= store.name %>" class="retail panel panel-default">
			<div class="panel-body clearfix">
				<div class="logo">
					<!-- <div class="label label-success">Ouvert</div> -->
					<img src="http://placehold.it/100x100">
				</div>
				<div class="information">
					<h2>
						<%= store.name %>
					</h2>	
					<p>
						<%= store.address %> <br>
						<%= store.postcode %> <%= store.town %> 
					</p>
					<p>
						<%= store.phonenumber %>
					</p>
				</div>
			</div>
			<div class="panel-footer">
				<% 
					@activities = store.activity.split(',');

					@activities.each do |activity|
				%>
				<span class="label label-default"><strong><%= activity %></strong></span>
				<% end %>
			</div>
		</section>

		<% end %>
		<% else %>
			<div class="empty-stores">
				<h3>
					Aucun magasin inscrit dans cette ville et avec l'activité indiqué... 
				</h3>
				<p>
					N'hésitez pas à effectuer une nouvelle recherche.
				</p>
			</div>
		<% end %>
	</aside>

	<script>

		var map = L.mapbox.map('map', 'julien-c.map-crig5ksu');

		map.fitBounds([
		    [-21.5, 56], 
		    [-20.7, 55.7]
		], {
		    paddingTopLeft: [450, 0]
		});

		map.setZoom(10);
		map.scrollWheelZoom.disable();
		map.zoomControl.setPosition('topright');

		$.getJSON("http://www.magasins/listgeojson.json"+window.location.search, function (data){
			
			for (var i = data.features.length - 1; i >= 0; i--) {
				data.features[i].geometry.coordinates.reverse();

			};

			map.featureLayer.setGeoJSON(data.features);

		});

		map.featureLayer.on('ready', function(e) {

		    $('.retail').on('mouseenter', function(){
		    	var retail = $(this);

		    	map.featureLayer.eachLayer(function(marker) {
			        if (marker.feature.properties.title === retail.data('title')) {
			            marker.openPopup();
			            
			            map.fitBounds([
						    [marker._latlng['lat'], marker._latlng['lng']-0.02]
						], {
						    paddingTopLeft: [450, 0]
						}).setZoom(14);
			        }
			    });
		    });
		});

		map.featureLayer.on('mouseover', function(e) {
		    e.layer.openPopup();
		});
		map.featureLayer.on('mouseout', function(e) {
		    e.layer.closePopup();
		});

	</script>
</div>