<nav class="navbar navbar-primary navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("http://s3.amazonaws.com/magasinsreunion/img/logo-magasinsreunion.png", alt: "Logo MagasinsReunion.re"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <h1 class="nav-title">L'annuaire de vos magasins de La Réunion </h1>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="subscription-link">
          <%= link_to "https://docs.google.com/forms/d/11NA8GXC6sJdcRDeTMnsm7fA0HT3oDKlxLJlFNWOKX_M/viewform" do %>
            
            Inscrire son magasin <span class='label label-success'>gratuit</span>
          
          <% end %>
        </li>
        <li><%= link_to "A propos", about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav class="searchbar navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">Recherche</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag root_path, method: "get" do %>
        <ul class="nav navbar-nav">
          <li>
            <div class="form-group">
              <label for="place">Lieu </label>
              <%= select_tag(:city, options_for_select([
                  ["-", "all"], 
                  ["Les Avirons", "les avirons"],
                  ["Bras-Panon", "bras-panon"],
                  ["Cilaos", "cilaos"],
                  ["Entre-Deux", "entre-deux"],
                  ["L'Etang-Salé", "etang-sale"],
                  ["Petite-Ile", "petite-ile"],
                  ["La Plaine-des-Palmistes", "plaine-des-palmistes"],
                  ["Le Port", "port"],
                  ["La Possession", "possession"],
                  ["Saint-André", "saint-andre"],
                  ["Saint-Benoît", "saint-benoit"],
                  ["Saint-Denis", "saint-denis"],
                  ["Sainte-Marie", "sainte-marie"],
                  ["Sainte-Rose", "sainte-rose"],
                  ["Sainte-Suzanne", "sainte-suzanne"],
                  ["Saint-Joseph", "saint-joseph"],
                  ["Saint-Leu", "saint-leu"],
                  ["Saint-Louis", "saint-louis"],
                  ["Saint-Paul", "saint-paul"],
                  ["Saint-Philippe", "saint-philippe"],
                  ["Saint-Pierre", "saint-pierre"],
                  ["Salazie", "salazie"],
                  ["Le Tampon", "tampon"],
                  ["Trois-Bassins", "trois-bassins"]
                ], "all"), class: "form-control") %>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="activity">Activité </label>
              <%= select_tag(:activity, options_for_select([
                  ["Tout", "all"],
                  ["Animaux", "animaux"],
                  ["Antiquités", "antiquite"],
                  ["Art", "art"],
                  ["Articles et Equipements de bureaux", "bureaux"],
                  ["Artisans", "artisans"],
                  ["Auto", "auto"],
                  ["Bazar, droguerie, quincaillerie", "bazar"],
                  ["Bijoux et Accessoires", "bijoux"],
                  ["Bricolage", "bricolage"],
                  ["Cadeaux", "cadeaux"],
                  ["Caviste", "caviste"],
                  ["Chaussures", "chaussures"],
                  ["Culture", "culture"],
                  ["Décoration", "decoration"],
                  ["Diététique et Produits bio", "dietetique"],
                  ["Electro-ménager", "electro menager"],
                  ["Epicerie fine", "epicerie"],
                  ["Fleurs et Jardins", "fleurs"],
                  ["Hifi", "hifi"],
                  ["Informatique et Multimédia", "informatique"],
                  ["Jeux vidéo", "jeux"],
                  ["Jouets", "jouets"],
                  ["Meubles", "meubles"],
                  ["Mode", "mode"],
                  ["Moto", "moto"],
                  ["Musique", "musique"],
                  ["Photo et Vidéo", "photo"],
                  ["Sport", "sport"],
                  ["Téléphonie", "telephonie"],
                  ["Tourisme", "tourisme"]
                ], "all"), class: "form-control") %>
            </div>
          </li>
          <li class="search-action">
            <%= button_tag type: "submit" do%>
                <span class="glyphicon glyphicon-search"></span> Lancer la recherche
            <% end %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>